* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	box-sizing: border-box;
}

.body-copy {
	line-height: 150%;
	font-weight: 300;
	margin-bottom: 50px;
}

.body-copy a {
	text-decoration: underline;
	color: #111;
}

.list {
	line-height: 150%;
	font-weight: 300;
	margin-top: -35px;
	list-style-position: inside;

}

.logo {
	color: #00CCFF;
	width: 75px;
	height: 75px;
	text-align: center;
	display: inline-block;
	background-size: contain;
	padding-top: 20px;
	font-size: 1.8rem;
	font-weight: 700;
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	border: 1px solid #00ccff;
	border-radius: 50%;
}

nav a, nav a:visited, nav a:active {
	list-style: none;
	display: inline-block;
	float: right;
	text-decoration: none;
	color: white;
	box-sizing: border-box;
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

nav a:hover {
	color: #00ccff;
	border-bottom: 3px solid #00ccff;
	box-sizing: border-box;
	transition-property: color, border-bottom;
	transition-duration: 0.8s;
	transition-timing-function: ease-out;
}

.menu {
	list-style: none;
	box-sizing: border-box;
	padding: 20px 40px 0 0;
	float: right;
}

nav ul li {
	display: inline-block;
	padding: 0 30px 0 30px;
	text-decoration: none;
	box-sizing: border-box;
}

.banner {
	box-sizing: border-box;
	height: 100vh;
	text-align: center;
	padding-top: 8rem;
	padding-left: 22%;
	padding-right: 22%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
	overflow: visible;
}

.banner:before {
content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  	background: url('../images/desktop.jpg');
	background-size: cover; 
	 -webkit-filter: grayscale(1);
	  filter: grayscale(1);
	  -webkit-filter: brightness(25%);
	  filter: brightness(25%);
	  color: white;
	  display: block;
	  width: inherit;
	  height: inherit;
}

.contact {
	box-sizing: border-box;
	height: auto;
	text-align: center;
	font-size: 1rem;
	padding: 5rem 0 5rem 0;
	color: #111;
	background: #fff;
}

.about {
	display: block;
	overflow: auto;
	background: #fff;
	padding: 2rem 40% 2rem 7rem;
}

.column {
	box-sizing: border-box;
	float: left;
	width: 33%;
	border: 1 solid black;
	padding: 1rem 4rem 1rem 4rem;
	text-align: center;
}

footer {
	height: 75px;
	font-size: 0.75rem;
	background: #111;
	color: #fff;
	text-align: center;
	padding-top: 25px;
}

.content {
	display: block;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.cta {
	border: 1px solid #00ccFF;
	padding: 1rem;
	text-decoration: none;
	color: #00ccFF;
	text-transform: uppercase;
	letter-spacing: 7px;
	margin-top: 20px;
	font-weight: 300;
}

.cta:hover {
	color: #FFFFFF;
	transition-property: color;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

#portfolio-section {
	margin: auto;
	text-align: center;
	height: auto;
	padding: 2rem 0 2rem 0;
	background: #111;
	color: #fff;
}

.case-study {
	box-sizing: border-box;
	width: 83%;
	height: auto;
	margin: 0.6rem auto 0.6rem auto;
	z-index: 1;
	display: inline-block;
	position: relative;
	overflow: auto;
	text-align: center;
	display: block;
}

.case-study .after {
    padding-top: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    background-color:rgba(0,0,0,0.8);
    box-sizing: border-box;
    transition: all 1s ease;
}

.case-study:hover .after {
    background: rgba(0, 0, 0, .9);
    transition: all 1s ease;
    content: Hover content;
}

.portfolio {
	width: 20%;
	display: inline-block;
	height: auto;
	overflow: none;
	box-sizing: border-box;
	border: 1px solid gray;
	margin: 0.2rem;
	background: white;
	z-index: 1;
	position: relative;
}

.portfolio .after {
   	padding-top: 25%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
    box-sizing: border-box;
    transition: all 1s ease;
}
.portfolio:hover .after {
    display: block;
    background: rgba(0, 0, 0, .5);
    transform: scale(1.1);
    transition: all 1s ease;
}

header {
	display: block;
	box-sizing: border-box;
	padding: 1rem 5rem 1rem 5rem;
	position: fixed;
	width: 100%;
  -webkit-box-shadow: 0 0 4px 0 #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 0 4px 0 #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 0 4px 0 #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  z-index: 2;
  color: #fff;
  background-color: rgba(20, 20, 20, 0.8);
}

.thumbnail {
	display: block;
  	width: 100%;
  	max-width: 100%;
  	max-height: 100%;
  	overflow: none;
}


h1 {
	margin-top: 8rem;
	text-transform: uppercase;
	font-size: 3rem;
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

h2 {
	text-transform: uppercase;
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

.social-icons, .social-icons a, .social-icons a:visited  {
	display: inline-block;
	color: #111;
	padding: 0.5rem;
}

.social-icons a:hover {
	color: #00CCFF;
	transition-property: color;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.clear{ 
    clear: both; 
} 

.hamburger {
	color: white;
	text-decoration: none;
}

.mobile-only {
	display: none;
}

@media (max-width: 1030px) {
	.thumbnail {
		display: block;
		width: auto;
	}

	.portfolio {
		width: auto;
		height: auto;
		margin: 1rem;
	}

}

@media (max-width: 700px) {
	.hamburger {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
}

	.hamburger:hover {
		border-bottom: none;
	}

	.desktop-only {
	display: none;
	}

	.mobile-only {
	display: inline-block;
	float: right;
	}

	nav ul li {
	width: 100%;
	text-align: right;
	} 

	.menu {
		width: 20%;
	}

	.column {
		width: 100%;
		padding: 20px 60px 20px 60px;
	}

	.social-icons {
		display: block;
		padding: 0;
	}

	.banner {
		height: 450px;
		padding: 7rem 10%0 10%;
		overflow: visible;
	}

	h1 {
		font-size: 2rem;
		margin-top: 0;
	}

	.cta {
	border: 1px solid #00ccFF;
	padding: 0.5rem;
	text-decoration: none;
	color: #00ccFF;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-top: 5px;
	font-weight: 300;
	display: inline-block;
}

	.about {
		padding: 2rem;
	}


}
